services:
  - type: web
    name: skm-chambers-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
    healthCheckPath: /health
    autoDeploy: true
    regions:
      - oregon
    plan: free